@tailwind base;
@tailwind components;
@tailwind utilities;

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #d4d4d4;
  border-radius: 12px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
